<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO McDonald's!</h1>
    <img style="width: 500px; height: 400px;" src="https://staticseekingalpha2.a.ssl.fastly.net/images/marketing_images/fair_use_logos_products/sacl_mcd_mcdonalds_logo.png" alt="">
    <h1><a href="/register">REGISTER HERE</a></h1><br>
    <h1><a href="/login">LOGIN HERE</a></h1>
</body>
</html>